In [2]:
import pandas as pd

In [3]:
new_data = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/London RCA/London Summary/London_insights.csv")

In [4]:
percentage_columns = ['Comm% L', 'CVR Total L', 'CVR Total B', 'Low Budget Lost Lead L', 'Low Budget Lost Lead B']

# Removing percentage signs, converting columns to numeric type, and transforming from percentage to proportion
for col in percentage_columns:
    if col in new_data.columns:
        # If column is of object type (likely string), remove percentage signs and commas
        if new_data[col].dtype == 'object':
            new_data[col] = new_data[col].str.replace('%', '').str.replace(',', '')
        # Convert columns to float
        new_data[col] = new_data[col].astype(float)
        # Transform to proportion
        new_data[col] = new_data[col] / 100

In [7]:
# Verifying the transformation
new_data.head()

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Comm$ L,Comm$ B,Form_P_L,Form_P_B,R/B L,R/B B,Budget L,Budget B,Low Budget Lost Lead L,Low Budget Lost Lead B
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,18286,13977,152,139,416,184,200,150,0.1584,0.0952
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,28413,76751,247,199,437,357,180,161,0.1856,0.0538
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,27783,27219,223,177,370,306,180,150,0.1488,0.0662
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,33772,66794,309,228,439,377,189,170,0.2004,0.0463
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,45151,41756,216,98,664,275,200,150,0.1532,0.0707

In [6]:
columns_to_convert = ['Leads L', 'Leads B', 'Cam_Leads L', 'Cam_Leads B']

for col in columns_to_convert:
    if new_data[col].dtype == 'O':  # Check if the column is of object (string) type
        new_data[col] = new_data[col].str.replace(',', '').astype(float)


percentage_columns = ['CVR Total L', 'CVR Total B', 'Low Budget Lost Lead L', 'Low Budget Lost Lead B']

for col in percentage_columns:
    if new_data[col].dtype == 'O':
        new_data[col] = new_data[col].str.rstrip('%').astype(float) / 100

In [11]:
new_data['Month-Only'] = new_data['Month'].str[:-2]

In [8]:
# Constants
LEASE = 46

# Calculate revenue for both years using the 15th percentile price
new_data['Revenue L with Price 15'] = new_data['Comm% L'] * (new_data['Bookings L']) * LEASE * new_data['Price L 15']

# Calculate revenue for both years using the form price
new_data['Revenue L with Form_P'] = new_data['Comm% L'] * (new_data['Bookings L']) * LEASE * new_data['Form_P_L']

In [14]:
import pandas as pd

# Assuming new_data is your original DataFrame

# Create a mask for each year
mask_22 = new_data['Month'].str.contains('-22')
mask_23 = new_data['Month'].str.contains('-23')

# Filter the original DataFrame using the masks to create new DataFrames
data_22 = new_data[mask_22]
data_23 = new_data[mask_23]

# Now data_22 contains the data for 2022 and data_23 contains the data for 2023

In [16]:
data_23

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Form_P_B,R/B L,R/B B,Budget L,Budget B,Low Budget Lost Lead L,Low Budget Lost Lead B,Revenue L with Price 15,Revenue L with Form_P,Month-Only
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,199,437,357,180,161,0.1856,0.0538,34224.000,27268.800,Mar-
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,228,439,377,189,170,0.2004,0.0463,35134.800,32407.920,Apr-
5,May-23,3041,2699.0,112,276,594,1548.0,14,162,0.0368,...,238,517,396,180,162,0.2982,0.0676,44049.600,45080.000,May-
7,Jun-23,2864,3108.0,116,267,766,1754.0,15,151,0.0405,...,230,487,321,180,150,0.4387,0.0942,51721.848,48120.048,Jun-
9,Jul-23,5137,3432.0,144,269,2514,1998.0,34,154,0.0280,...,206,545,384,240,180,0.4133,0.0876,74321.280,55244.160,Jul-
11,Aug-23,5882,5093.0,102,360,195,3616.0,3,237,0.0173,...,201,408,324,300,180,0.3780,0.0875,42814.500,41524.200,Aug-

In [17]:
# Step 1: Calculate the Total Commission Percentage for 2022
total_comm_percent_22 = data_22['Comm% L'].sum()

# Step 2: Calculate the Monthly Commission Percentage for 2022
monthly_comm_percent_22 = data_22['Comm% L'] / total_comm_percent_22

# Step 3: Apply the Same Distribution to 2023
total_comm_percent_23 = data_23['Comm% L'].sum()
data_23_new_comm = monthly_comm_percent_22 * total_comm_percent_23

# Create a new column for the updated Comm% L values in 2023 DataFrame
data_23['New Comm% L'] = data_23_new_comm.values

# Step 4: Calculate the Revenue for 2023 with new Comm% L values
LEASE = 46

# For Revenue L with Price 15
data_23['New Com% Revenue L with Price 15'] = data_23['New Comm% L'] * (data_23['Bookings L']) * LEASE * data_23['Price L 15']

# For Revenue L with Form_P
data_23['New Com% Revenue L with Form_P'] = data_23['New Comm% L'] * (data_23['Bookings L']) * LEASE * data_23['Form_P_L']

# Now data_23 contains the new columns 'New Comm% L', 'New Revenue L with Price 15', and 'New Revenue L with Form_P'

/var/folders/82/0mjwyp6n4ql3yr64dnns9_9r0000gp/T/ipykernel_29624/2086353731.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_23['New Comm% L'] = data_23_new_comm.values
/var/folders/82/0mjwyp6n4ql3yr64dnns9_9r0000gp/T/ipykernel_29624/2086353731.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_23['New Com% Revenue L with Price 15'] = data_23['New Comm% L'] * (data_23['Bookings L']) * LEASE * data_23['Price L 15']
/var/folders/82/0mjwyp6n4ql3yr64dnns9_9r0000gp/T/ipykernel_29624/2086353731.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_23['New Com% Revenue L with Form_P'] = data_23['New Comm% L'] * (data_23['Bookings L']) * LEASE * data_23['Form_P_L']

In [37]:
data_23.head()

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Low Budget Lost Lead L,Low Budget Lost Lead B,Revenue L with Price 15,Revenue L with Form_P,Month-Only,New Leads L,New Bookings L,New Revenue L with Price 15,New Revenue L with Form_P,New CVR L
1,Mar-23,3422.0,1953.0,80,229,43,1173.0,0,114,0.0234,...,0.1856,0.0538,34224.000,27268.800,Mar-,1566.883672,65.094707,27847.515803,22188.181946,0.019022
3,Apr-23,2706.0,1827.0,76,174,77,992.0,3,78,0.0281,...,0.2004,0.0463,35134.800,32407.920,Apr-,2173.807862,63.155445,29196.762318,26930.744945,0.023339
5,May-23,3041.0,2699.0,112,276,594,1548.0,14,162,0.0368,...,0.2982,0.0676,44049.600,45080.000,May-,2959.566203,47.390179,18638.557407,19074.547054,0.015584
7,Jun-23,2864.0,3108.0,116,267,766,1754.0,15,151,0.0405,...,0.4387,0.0942,51721.848,48120.048,Jun-,3585.022429,62.233151,27748.392761,25816.053432,0.021729
9,Jul-23,5137.0,3432.0,144,269,2514,1998.0,34,154,0.0280,...,0.4133,0.0876,74321.280,55244.160,Jul-,5784.775143,116.510103,60133.194226,44697.935815,0.022681

In [28]:
# Sum of actual revenue for Price 15 and Form P in 2023
actual_revenue_price_15_23 = data_23['Revenue L with Price 15'].sum()
actual_revenue_form_p_23 = data_23['Revenue L with Form_P'].sum()

# Sum of new calculated revenue for Price 15 and Form P in 2023
new_revenue_price_15_23 = data_23['New Com% Revenue L with Price 15'].sum()
new_revenue_form_p_23 = data_23['New Com% Revenue L with Form_P'].sum()

# Calculating the revenue loss for Price 15 and Form P
revenue_loss_price_15 = actual_revenue_price_15_23 - new_revenue_price_15_23
revenue_loss_form_p = actual_revenue_form_p_23 - new_revenue_form_p_23

# Outputting the revenue loss
print(f'Revenue Loss with Price 15: {revenue_loss_price_15}')
print(f'Revenue Loss with Form P: {revenue_loss_form_p}')

Revenue Loss with Price 15: 3203.424979591917
Revenue Loss with Form P: -712.819755102013

In [32]:
import pandas as pd

# Assuming new_data is your original DataFrame and LEASE is a constant you have defined
# Define LEASE if not already defined:
LEASE = 46  # replace with your actual value

# Helper function to convert percentage strings to float values
def percentage_to_float(percentage_str):
    return float(percentage_str.strip('%')) / 100

# Apply the conversion to the necessary columns
# new_data['CVR L'] = new_data['CVR L'].apply(percentage_to_float)
# new_data['Comm% L'] = new_data['Comm% L'].apply(percentage_to_float)

# Ensure the data types are correct for other columns:
columns_to_convert = ['Leads L', 'Price L 15', 'Form_P_L']
new_data[columns_to_convert] = new_data[columns_to_convert].astype(float)

# Split the data into 2022 and 2023 datasets
mask_22 = new_data['Month'].str.contains('-22')
mask_23 = new_data['Month'].str.contains('-23')
data_22 = new_data[mask_22].copy()
data_23 = new_data[mask_23].copy()

# Calculate the total sum of Leads L for 2022
total_leads_22 = data_22['Leads L'].sum()

# Find the percentage distribution of Leads L for each month in 2022
monthly_distribution_22 = data_22['Leads L'] / total_leads_22

# Calculate the total sum of Leads L for 2023
total_leads_23 = data_23['Leads L'].sum()

# Distribute the total Leads L of 2023 based on the percentage distribution of 2022
new_leads_23 = monthly_distribution_22 * total_leads_23
data_23['New Leads L'] = new_leads_23.values

# Now calculate the new bookings for 2023 based on the new Leads L values
data_23['New Bookings L'] = data_23['New Leads L'] * data_23['CVR L']

# Calculate the new revenue for 2023 using the formula provided
data_23['New Revenue L with Price 15'] = data_23['Comm% L'] * data_23['New Bookings L'] * LEASE * data_23['Price L 15']
data_23['New Revenue L with Form_P'] = data_23['Comm% L'] * data_23['New Bookings L'] * LEASE * data_23['Form_P_L']

# Now you can proceed to calculate the potential revenue loss for 2023
actual_revenue_price_15_23 = data_23['Revenue L with Price 15'].sum()
actual_revenue_form_p_23 = data_23['Revenue L with Form_P'].sum()

new_revenue_price_15_23 = data_23['New Revenue L with Price 15'].sum()
new_revenue_form_p_23 = data_23['New Revenue L with Form_P'].sum()

revenue_loss_price_15 = actual_revenue_price_15_23 - new_revenue_price_15_23
revenue_loss_form_p = actual_revenue_form_p_23 - new_revenue_form_p_23

# Output the revenue loss
print(f'Revenue Loss with Price 15: {revenue_loss_price_15}')
print(f'Revenue Loss with Form P: {revenue_loss_form_p}')

Revenue Loss with Price 15: 91837.71815727773
Revenue Loss with Form P: 77934.60253197231

In [35]:
# Calculate the total CVR L for 2022
total_cvr_22 = data_22['CVR L'].sum()

# Find the percentage distribution of CVR L for each month in 2022
monthly_distribution_cvr_22 = data_22['CVR L'] / total_cvr_22

# Calculate the total CVR L for 2023
total_cvr_23 = data_23['CVR L'].sum()

# Distribute the total CVR L of 2023 based on the percentage distribution of 2022
new_cvr_23 = monthly_distribution_cvr_22 * total_cvr_23
data_23['New CVR L'] = new_cvr_23.values

# Now calculate the new bookings for 2023 based on the new CVR L values
data_23['New Bookings L'] = data_23['Leads L'] * data_23['New CVR L']

# Calculate the new revenue for 2023 using the formula provided
data_23['New Revenue L with Price 15'] = data_23['Comm% L'] * data_23['New Bookings L'] * LEASE * data_23['Price L 15']
data_23['New Revenue L with Form_P'] = data_23['Comm% L'] * data_23['New Bookings L'] * LEASE * data_23['Form_P_L']

# Now you can proceed to calculate the potential revenue loss for 2023
actual_revenue_price_15_23 = data_23['Revenue L with Price 15'].sum()
actual_revenue_form_p_23 = data_23['Revenue L with Form_P'].sum()

new_revenue_price_15_23 = data_23['New Revenue L with Price 15'].sum()
new_revenue_form_p_23 = data_23['New Revenue L with Form_P'].sum()

revenue_loss_price_15 = actual_revenue_price_15_23 - new_revenue_price_15_23
revenue_loss_form_p = actual_revenue_form_p_23 - new_revenue_form_p_23

# Output the revenue loss
print(f'Revenue Loss with Price 15: {revenue_loss_price_15}')
print(f'Revenue Loss with Form P: {revenue_loss_form_p}')

Revenue Loss with Price 15: 81309.63122271484
Revenue Loss with Form P: 74672.57196234749

In [36]:
data_23.to_clipboard()

In [83]:
# Calculate the average leads for London in 2022
average_leads_2022 = new_data[new_data['Month'].str.endswith('22')]['Leads L'].mean()

# Calculate the monthly deviation of Leads L from its average for each month in 2022
monthly_deviation_leads_2022 = new_data[new_data['Month'].str.endswith('22')].groupby(new_data['Month'].str[:-2])['Leads L'].apply(lambda x: x.mean() - average_leads_2022).to_dict()

# Calculate the average leads for London in 2023
average_leads_2023 = new_data[new_data['Month'].str.endswith('23')]['Leads L'].mean()

# Apply the month-wise deviations from 2022 to the average leads of 2023 to estimate leads for each month in 2023
new_data['Distributed Leads L'] = new_data.apply(lambda row: average_leads_2023 + monthly_deviation_leads_2022[row['Month-Only']] if row['Month'].endswith('23') else row['Leads L'], axis=1)

# Estimate potential bookings using the distributed leads and CVR% for 2023
new_data['Distributed Bookings L'] = new_data['Distributed Leads L'] * new_data['CVR Total L']

# Recalculate potential revenue for 2023 using distributed bookings
new_data['Distributed Revenue L with Price 15'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L'] * LEASE * new_data['Price L 15']
new_data['Distributed Revenue L with Form_P'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L'] * LEASE * new_data['Form_P_L']

# Summarize the recalculated potential revenue for 2023
distributed_leads_revenue_summary_corrected_v2 = new_data[new_data['Month'].str.endswith('23')].agg({
    'Distributed Revenue L with Price 15': 'sum',
    'Distributed Revenue L with Form_P': 'sum'
})

distributed_leads_revenue_summary_corrected_v2

Distributed Revenue L with Price 15    271981.627140
Distributed Revenue L with Form_P      246410.879436
dtype: float64

In [84]:
new_data.head()

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Low Budget Lost Lead L,Low Budget Lost Lead B,Revenue L with Price 15,Revenue L with Form_P,Month-Only,Distributed Comm% L,Distributed Revenue L with Price 15,Distributed Revenue L with Form_P,Distributed Leads L,Distributed Bookings L
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,0.1584,0.0952,31050.00,17480.00,Mar-,0.050,31083.285600,17498.738560,1691.000000,50.053600
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,0.1856,0.0538,34224.00,27268.80,Mar-,0.037,17120.213760,13640.944512,1386.666667,32.448000
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,0.1488,0.0662,32286.94,26568.22,Apr-,0.035,32242.872690,26531.957970,2346.000000,73.899000
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,0.2004,0.0463,35134.80,32407.92,Apr-,0.022,19449.859917,17940.318550,2041.666667,57.370833
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,0.1532,0.0707,55027.50,43221.60,May-,0.050,54949.576000,43160.394240,3194.000000,86.876800

In [58]:
average_com_2022 = new_data[new_data['Month'].str.endswith('22')]['Comm% L'].mean()
monthly_deviation_2022 = new_data[new_data['Month'].str.endswith('22')].groupby(new_data['Month'].str[:-2])['Comm% L'].apply(lambda x: x.mean() - average_com_2022).to_dict()

# Calculate the average commission percentage for London in 2023
average_com_2023 = new_data[new_data['Month'].str.endswith('23')]['Comm% L'].mean()

# Apply the month-wise deviations from 2022 to the average commission percentage of 2023
new_data['Distributed Comm% L'] = new_data.apply(lambda row: average_com_2023 + monthly_deviation_2022[row['Month-Only']] if row['Month'].endswith('23') else row['Comm% L'], axis=1)

# Recalculate potential revenue for 2023 using distributed commission percentage and distributed bookings
new_data['Distributed Revenue L with Price 15'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L'] * LEASE * new_data['Price L 15']
new_data['Distributed Revenue L with Form_P'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L'] * LEASE * new_data['Form_P_L']

# Summarize the recalculated potential revenue for 2023
distributed_com_revenue_summary_corrected = new_data[new_data['Month'].str.endswith('23')].agg({
    'Distributed Revenue L with Price 15': 'sum',
    'Distributed Revenue L with Form_P': 'sum'
})

distributed_com_revenue_summary_corrected

Distributed Revenue L with Price 15    271981.627140
Distributed Revenue L with Form_P      246410.879436
dtype: float64

In [59]:
new_data

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Low Budget Lost Lead L,Low Budget Lost Lead B,Revenue L with Price 15,Revenue L with Form_P,Month-Only,Distributed Comm% L,Distributed Revenue L with Price 15,Distributed Revenue L with Form_P,Distributed Leads L,Distributed Bookings L
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,0.1584,0.0952,31050.000,17480.000,Mar-,0.050,31083.285600,17498.738560,1691.000000,50.053600
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,0.1856,0.0538,34224.000,27268.800,Mar-,0.037,17120.213760,13640.944512,1386.666667,32.448000
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,0.1488,0.0662,32286.940,26568.220,Apr-,0.035,32242.872690,26531.957970,2346.000000,73.899000
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,0.2004,0.0463,35134.800,32407.920,Apr-,0.022,19449.859917,17940.318550,2041.666667,57.370833
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,0.1532,0.0707,55027.500,43221.600,May-,0.050,54949.576000,43160.394240,3194.000000,86.876800
5,May-23,3041,2699.0,112,276,594,1548.0,14,162,0.0368,...,0.2982,0.0676,44049.600,45080.000,May-,0.037,61898.657338,63346.579147,2889.666667,106.339733
6,Jun-22,3869,1275.0,119,178,425,640.0,22,103,0.0308,...,0.1703,0.0766,61746.720,74227.440,Jun-,0.040,61832.438976,74330.485152,3869.000000,119.165200
7,Jun-23,2864,3108.0,116,267,766,1754.0,15,151,0.0405,...,0.4387,0.0942,51721.848,48120.048,Jun-,0.027,64370.960982,59888.303532,3564.666667,144.369000
8,Jul-22,6243,2848.0,247,306,906,2093.0,50,214,0.0396,...,0.1894,0.0681,111347.600,126459.060,Jul-,0.035,111448.038240,126573.129144,6243.000000,247.222800
9,Jul-23,5137,3432.0,144,269,2514,1998.0,34,154,0.0280,...,0.4133,0.0876,74321.280,55244.160,Jul-,0.022,62935.993941,46781.300309,5938.666667,166.282667
10,Aug-22,7535,3518.0,166,448,95,2365.0,6,307,0.0220,...,0.3171,0.0958,78307.180,108507.560,Aug-,0.035,78198.682100,108357.218200,7535.000000,165.770000
11,Aug-23,5882,5093.0,102,360,195,3616.0,3,237,0.0173,...,0.3780,0.0875,42814.500,41524.200,Aug-,0.022,46205.941203,44813.433386,7230.666667,125.090533

In [64]:
# Modify the code for distribution based on leads
# Calculate the average leads for London in 2022
average_leads_2022 = new_data[new_data['Month'].str.endswith('22')]['Leads L'].mean()

# Calculate the monthly deviation of Leads L from its average for each month in 2022
monthly_deviation_leads_2022 = new_data[new_data['Month'].str.endswith('22')].groupby(new_data['Month'].str[:-2])['Leads L'].apply(lambda x: x.mean() - average_leads_2022).to_dict()

# Calculate the average leads for London in 2023
average_leads_2023 = new_data[new_data['Month'].str.endswith('23')]['Leads L'].mean()

# Apply the month-wise deviations from 2022 to the average leads of 2023 to estimate leads for each month in 2023
new_data['Distributed Leads L_LeadsDist'] = new_data.apply(lambda row: average_leads_2023 + monthly_deviation_leads_2022[row['Month-Only']] if row['Month'].endswith('23') else row['Leads L'], axis=1)

# Estimate potential bookings using the distributed leads and CVR% for 2023
new_data['Distributed Bookings L_LeadsDist'] = new_data['Distributed Leads L_LeadsDist'] * new_data['CVR Total L']

# Recalculate potential revenue for 2023 using distributed bookings
new_data['Distributed Revenue L with Price 15_LeadsDist'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L_LeadsDist'] * LEASE * new_data['Price L 15']
new_data['Distributed Revenue L with Form_P_LeadsDist'] = new_data['Distributed Comm% L'] * new_data['Distributed Bookings L_LeadsDist'] * LEASE * new_data['Form_P_L']

# Summarize the recalculated potential revenue for 2023
distributed_leads_revenue_summary_corrected_v3 = new_data[new_data['Month'].str.endswith('23')].agg({
    'Distributed Revenue L with Price 15_LeadsDist': 'sum',
    'Distributed Revenue L with Form_P_LeadsDist': 'sum'
})

In [65]:
new_data

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Distributed Revenue L with Form_P,Distributed Leads L,Distributed Bookings L,Distributed Leads L_LeadsDist,Distributed Bookings L_LeadsDist,Distributed Revenue L with Price 15_LeadsDist,Distributed Revenue L with Form_P_LeadsDist,Distributed Comm% L_ComDist,Distributed Revenue L with Price 15_ComDist,Distributed Revenue L with Form_P_ComDist
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,17498.738560,1691.000000,50.053600,1691.000000,50.053600,31083.285600,17498.738560,0.050,31083.285600,17498.738560
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,13640.944512,1386.666667,32.448000,1386.666667,32.448000,17120.213760,13640.944512,0.037,17120.213760,13640.944512
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,26531.957970,2346.000000,73.899000,2346.000000,73.899000,32242.872690,26531.957970,0.035,32242.872690,26531.957970
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,17940.318550,2041.666667,57.370833,2041.666667,57.370833,19449.859917,17940.318550,0.022,19449.859917,17940.318550
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,43160.394240,3194.000000,86.876800,3194.000000,86.876800,54949.576000,43160.394240,0.050,54949.576000,43160.394240
5,May-23,3041,2699.0,112,276,594,1548.0,14,162,0.0368,...,63346.579147,2889.666667,106.339733,2889.666667,106.339733,61898.657338,63346.579147,0.037,61898.657338,63346.579147
6,Jun-22,3869,1275.0,119,178,425,640.0,22,103,0.0308,...,74330.485152,3869.000000,119.165200,3869.000000,119.165200,61832.438976,74330.485152,0.040,61832.438976,74330.485152
7,Jun-23,2864,3108.0,116,267,766,1754.0,15,151,0.0405,...,59888.303532,3564.666667,144.369000,3564.666667,144.369000,64370.960982,59888.303532,0.027,64370.960982,59888.303532
8,Jul-22,6243,2848.0,247,306,906,2093.0,50,214,0.0396,...,126573.129144,6243.000000,247.222800,6243.000000,247.222800,111448.038240,126573.129144,0.035,111448.038240,126573.129144
9,Jul-23,5137,3432.0,144,269,2514,1998.0,34,154,0.0280,...,46781.300309,5938.666667,166.282667,5938.666667,166.282667,62935.993941,46781.300309,0.022,62935.993941,46781.300309
10,Aug-22,7535,3518.0,166,448,95,2365.0,6,307,0.0220,...,108357.218200,7535.000000,165.770000,7535.000000,165.770000,78198.682100,108357.218200,0.035,78198.682100,108357.218200
11,Aug-23,5882,5093.0,102,360,195,3616.0,3,237,0.0173,...,44813.433386,7230.666667,125.090533,7230.666667,125.090533,46205.941203,44813.433386,0.022,46205.941203,44813.433386

In [66]:

# Modify the code for distribution based on commission percentage
average_com_2022 = new_data[new_data['Month'].str.endswith('22')]['Comm% L'].mean()
monthly_deviation_2022 = new_data[new_data['Month'].str.endswith('22')].groupby(new_data['Month'].str[:-2])['Comm% L'].apply(lambda x: x.mean() - average_com_2022).to_dict()

# Calculate the average commission percentage for London in 2023
average_com_2023 = new_data[new_data['Month'].str.endswith('23')]['Comm% L'].mean()

# Apply the month-wise deviations from 2022 to the average commission percentage of 2023
new_data['Distributed Comm% L_ComDist'] = new_data.apply(lambda row: average_com_2023 + monthly_deviation_2022[row['Month-Only']] if row['Month'].endswith('23') else row['Comm% L'], axis=1)

# Recalculate potential revenue for 2023 using distributed commission percentage and distributed bookings
new_data['Distributed Revenue L with Price 15_ComDist'] = new_data['Distributed Comm% L_ComDist'] * new_data['Distributed Bookings L'] * LEASE * new_data['Price L 15']
new_data['Distributed Revenue L with Form_P_ComDist'] = new_data['Distributed Comm% L_ComDist'] * new_data['Distributed Bookings L'] * LEASE * new_data['Form_P_L']

# Summarize the recalculated potential revenue for 2023
distributed_com_revenue_summary_corrected_v3 = new_data[new_data['Month'].str.endswith('23')].agg({
    'Distributed Revenue L with Price 15_ComDist': 'sum',
    'Distributed Revenue L with Form_P_ComDist': 'sum'
})

In [67]:
new_data

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Distributed Revenue L with Form_P,Distributed Leads L,Distributed Bookings L,Distributed Leads L_LeadsDist,Distributed Bookings L_LeadsDist,Distributed Revenue L with Price 15_LeadsDist,Distributed Revenue L with Form_P_LeadsDist,Distributed Comm% L_ComDist,Distributed Revenue L with Price 15_ComDist,Distributed Revenue L with Form_P_ComDist
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,17498.738560,1691.000000,50.053600,1691.000000,50.053600,31083.285600,17498.738560,0.050,31083.285600,17498.738560
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,13640.944512,1386.666667,32.448000,1386.666667,32.448000,17120.213760,13640.944512,0.037,17120.213760,13640.944512
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,26531.957970,2346.000000,73.899000,2346.000000,73.899000,32242.872690,26531.957970,0.035,32242.872690,26531.957970
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,17940.318550,2041.666667,57.370833,2041.666667,57.370833,19449.859917,17940.318550,0.022,19449.859917,17940.318550
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,43160.394240,3194.000000,86.876800,3194.000000,86.876800,54949.576000,43160.394240,0.050,54949.576000,43160.394240
5,May-23,3041,2699.0,112,276,594,1548.0,14,162,0.0368,...,63346.579147,2889.666667,106.339733,2889.666667,106.339733,61898.657338,63346.579147,0.037,61898.657338,63346.579147
6,Jun-22,3869,1275.0,119,178,425,640.0,22,103,0.0308,...,74330.485152,3869.000000,119.165200,3869.000000,119.165200,61832.438976,74330.485152,0.040,61832.438976,74330.485152
7,Jun-23,2864,3108.0,116,267,766,1754.0,15,151,0.0405,...,59888.303532,3564.666667,144.369000,3564.666667,144.369000,64370.960982,59888.303532,0.027,64370.960982,59888.303532
8,Jul-22,6243,2848.0,247,306,906,2093.0,50,214,0.0396,...,126573.129144,6243.000000,247.222800,6243.000000,247.222800,111448.038240,126573.129144,0.035,111448.038240,126573.129144
9,Jul-23,5137,3432.0,144,269,2514,1998.0,34,154,0.0280,...,46781.300309,5938.666667,166.282667,5938.666667,166.282667,62935.993941,46781.300309,0.022,62935.993941,46781.300309
10,Aug-22,7535,3518.0,166,448,95,2365.0,6,307,0.0220,...,108357.218200,7535.000000,165.770000,7535.000000,165.770000,78198.682100,108357.218200,0.035,78198.682100,108357.218200
11,Aug-23,5882,5093.0,102,360,195,3616.0,3,237,0.0173,...,44813.433386,7230.666667,125.090533,7230.666667,125.090533,46205.941203,44813.433386,0.022,46205.941203,44813.433386

In [62]:
# Assuming you have the data loaded as 'new_data'

# Calculate actual revenue for 2023
actual_revenue_2023_price_15 = new_data[new_data['Month'].str.endswith('23')]['Revenue L with Price 15'].sum()
actual_revenue_2023_form_p = new_data[new_data['Month'].str.endswith('23')]['Revenue L with Form_P'].sum()

# Calculate differences between potential (distributed based on Leads) and actual revenues
difference_leads_price_15 = distributed_leads_revenue_summary_corrected_v3['Distributed Revenue L with Price 15_LeadsDist'] - actual_revenue_2023_price_15
difference_leads_form_p = distributed_leads_revenue_summary_corrected_v3['Distributed Revenue L with Form_P_LeadsDist'] - actual_revenue_2023_form_p

# Calculate differences between potential (distributed based on Comm%) and actual revenues
difference_com_price_15 = distributed_com_revenue_summary_corrected_v3['Distributed Revenue L with Price 15_ComDist'] - actual_revenue_2023_price_15
difference_com_form_p = distributed_com_revenue_summary_corrected_v3['Distributed Revenue L with Form_P_ComDist'] - actual_revenue_2023_form_p

difference_summary = {
    "Difference LeadsDist with Price 15": difference_leads_price_15,
    "Difference LeadsDist with Form_P": difference_leads_form_p,
    "Difference ComDist with Price 15": difference_com_price_15,
    "Difference ComDist with Form_P": difference_com_form_p
}

print(difference_summary)

{'Difference LeadsDist with Price 15': -10284.400859733403, 'Difference LeadsDist with Form_P': -3234.248564400041, 'Difference ComDist with Price 15': -10284.400859733403, 'Difference ComDist with Form_P': -3234.248564400041}

In [63]:
new_data

,Month,Leads L,Leads B,Bookings L,Bookings B,Cam_Leads L,Cam_Leads B,Cam_Bookings L,Cam_Bookings B,CVR Total L,...,Distributed Revenue L with Form_P,Distributed Leads L,Distributed Bookings L,Distributed Leads L_LeadsDist,Distributed Bookings L_LeadsDist,Distributed Revenue L with Price 15_LeadsDist,Distributed Revenue L with Form_P_LeadsDist,Distributed Comm% L_ComDist,Distributed Revenue L with Price 15_ComDist,Distributed Revenue L with Form_P_ComDist
0,Mar-22,1691,500.0,50,38,484,253.0,14,17,0.0296,...,17498.738560,1691.000000,50.053600,1691.000000,50.053600,31083.285600,17498.738560,0.050,31083.285600,17498.738560
1,Mar-23,3422,1953.0,80,229,43,1173.0,0,114,0.0234,...,13640.944512,1386.666667,32.448000,1386.666667,32.448000,17120.213760,13640.944512,0.037,17120.213760,13640.944512
2,Apr-22,2346,716.0,74,82,375,350.0,19,34,0.0315,...,26531.957970,2346.000000,73.899000,2346.000000,73.899000,32242.872690,26531.957970,0.035,32242.872690,26531.957970
3,Apr-23,2706,1827.0,76,174,77,992.0,3,78,0.0281,...,17940.318550,2041.666667,57.370833,2041.666667,57.370833,19449.859917,17940.318550,0.022,19449.859917,17940.318550
4,May-22,3194,1023.0,87,132,666,527.0,16,60,0.0272,...,43160.394240,3194.000000,86.876800,3194.000000,86.876800,54949.576000,43160.394240,0.050,54949.576000,43160.394240
5,May-23,3041,2699.0,112,276,594,1548.0,14,162,0.0368,...,63346.579147,2889.666667,106.339733,2889.666667,106.339733,61898.657338,63346.579147,0.037,61898.657338,63346.579147
6,Jun-22,3869,1275.0,119,178,425,640.0,22,103,0.0308,...,74330.485152,3869.000000,119.165200,3869.000000,119.165200,61832.438976,74330.485152,0.040,61832.438976,74330.485152
7,Jun-23,2864,3108.0,116,267,766,1754.0,15,151,0.0405,...,59888.303532,3564.666667,144.369000,3564.666667,144.369000,64370.960982,59888.303532,0.027,64370.960982,59888.303532
8,Jul-22,6243,2848.0,247,306,906,2093.0,50,214,0.0396,...,126573.129144,6243.000000,247.222800,6243.000000,247.222800,111448.038240,126573.129144,0.035,111448.038240,126573.129144
9,Jul-23,5137,3432.0,144,269,2514,1998.0,34,154,0.0280,...,46781.300309,5938.666667,166.282667,5938.666667,166.282667,62935.993941,46781.300309,0.022,62935.993941,46781.300309
10,Aug-22,7535,3518.0,166,448,95,2365.0,6,307,0.0220,...,108357.218200,7535.000000,165.770000,7535.000000,165.770000,78198.682100,108357.218200,0.035,78198.682100,108357.218200
11,Aug-23,5882,5093.0,102,360,195,3616.0,3,237,0.0173,...,44813.433386,7230.666667,125.090533,7230.666667,125.090533,46205.941203,44813.433386,0.022,46205.941203,44813.433386